<nav class="main-nav">
    <ul class="nav-list nav-inline" role="list">
        {% for link in section.settings.main_menu.links %}
            <li>
                {% if link.links != blank %}
                    test                  
                {% endif %}
    
            </li>
        {% endfor %}
    </ul>
</nav>