<div class="header__mega_menu">
  <ul>
    {% for menu_link in section.settings.main_menu.links %}
      <li>
        {% if menu_link.links != blank %}
            <div class="header__mega-menu-wrapper">
                <div class="menu_wrapper">
                    <span class="menu_title">{{ menu_link.title }}</span>
                    <span class="menu_svg">!</span>
                </div>
            </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
